@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bkg: 0deg 0% 98%;
    --content: 235deg 19% 35%;
    --accent1: 192deg 100% 67%;
    --accent2: 280deg 87% 65%;

    /*font-size: 10px;*/

    transition: all 0.5s ease-in-out;
    transition-property: background-image, background-color;
    background-repeat: repeat-x;
    background-size: contain;
    /*background-size: contain 200px;*/
    /*min-height: 200px;*/
    /*max-height: 341px;*/

    @media (min-width: 640px) {
      max-height: unset;
    }

    &[data-theme="light"] {
      background-image: url("./assets/bg-mobile-light.jpg");
      background-color: #fafafa;

      @media (min-width: 640px) {
        background-image: url("./assets/bg-desktop-light.jpg");
      }
    }

    &[data-theme="dark"] {
      --bkg: 235deg 24% 19%;
      --content: 0deg 0% 100%;
      background-color: #171823;
      background-image: url("./assets/bg-mobile-dark.jpg");

      @media (min-width: 640px) {
        background-image: url("./assets/bg-desktop-dark.jpg");
      }
    }
  }
}
